<h1 class="m-3">Create a Order</h1>

<%= form_with model: @order, url: create_order_product_path do |form| %>
    <div class="mb-3">
      <div class="row g-0">
        <div class="mb-3 col-7">
            <p> Product name </p>
            <% for product in Product.all %>    <!-- For to list all products -->
              <% if product.stock > 0 %>        <!-- Only show products with stock > 0 -->
                <%= check_box_tag "order[product_ids][]", product.id %>
                <%= product.description%><br />
              <% end %>
            <% end %>
        </div>
        <div class="mb-3 col-2">
          <p> Amount </p>
          <% for product in Product.all %>
            <% if product.stock > 0 %>    <!-- Show amount field only products with stock -->
              <%= form.number_field :amount, max: product.stock, min: 1, value: 1 %>
            <% end %>
          <% end %>
        </div>
        <div class="mb-3">
            <%= form.label :number, "Number to order" %>
            <%= form.text_field :number, class: "form-control" %>
        </div>
        <div class="mb-3">
            <%= form.label :delivery_tax %>
            <%= form.number_field :delivery_tax, step: :any, class: "form-control" %>
        </div>
        <%= form.submit %>
    </div>
  </div>
<% end %>