<div class="flickr_pagination mb-2">
  <%= paginate @orders%>
</div>

<%= link_to "List available orders for API", '/api/v1/orders/' , target: "_blank", class: "btn btn-primary m-3"%>
<div class="mb-3">
  <%= form_tag(orders_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag ("Search") %>
  <% end %>
</div>

<div class="card">
  <div class="card-body">
    <% @orders.each_with_index do |order, index| %>
      <% if index != 0 %>
        <div class="row"><div class="col"><hr /></div></div>
      <% end %>

      <div class="row order" id="<%= dom_id(order) %>">
        <div class="col-sm-1 text-center">
            <strong><%= order.created_at.strftime("%b %d") %></strong>
        </div>
        <div class="col">
            <h4>Order number <%= link_to order.number, "/admin/orders/#{order.id}/edit/", class:""%></h4><br>
            <p>Selected products: </p>
            
              <%= order.products.each_with_index do |product| %>
                <li><p class="fst-italic"><%= product.description %> R$ <%= product.price %></p></li>
              <% end %>
            <br><br>
            <p class="fw-bold">Delivery tax: R$<%= order.delivery_tax %></p>
            <p class="fw-bold">Total price: R$<%= order.total_price %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>