<h1 class="m-3">Create a Order</h1>

<%= form_with model: @order, url: create_order_path do |form| %>
    <% @total = 0 %>
    <div class="mb-3">

        <div class="mb-3">
            <%= form.label :number %>
            <%= form.text_field :number, class: "form-control" %>
        </div>
        <div class="mb-3">
            <%= form.label :delivery_tax %>
            <%= form.number_field :delivery_tax, class: "form-control" %>
        </div>
        <div class="mb-3">
            <%= form.label :products %>
            <% @products.each_with_index do |product, index| %>
                <% if product.stock > 0 %>
                    <ul>
                        <%= product.description %> - R$ <%= product.price %> - Available: <%= product.stock %>
                    </ul>
                <% end %>
            <% end %>
        </div>
        <div class="mb-3">
            <p> Total price = R$ <%=  %>
        </div>

        <%= form.submit %>
    </div>

<% end %>