<h1> New Promotion </h1>

<%= form_with model: @promotion do |form| %>
    <%= render "shared/form_errors", form: form %>

    <div class="mb-3">
        <%= form.label :base %>
        <%= form.number_field :base, class: "form-control", placeholder: "1 - 10" %>
    </div>

    <div class="mb-3">
        <%= form.label :value %>
        <%= form.number_field :value, class: "form-control", placeholder: "2 - 11" %>
    </div>

    <div class="mb-3">
        <%= form.submit %>
        <%= link_to "Back", promotions_path , class: "btn" %>
    </div>
<% end %>