<h1> New Product </h1>

<%= form_with model: @product do |form| %>
    <%= render "shared/form_errors", form: form %>

    <div class="mb-3">
        <p>Description</p>
        <%= form.text_field :description, class: "form-control", placeholder: "ABACAXI UNIDADE" %>
    </div>

    <div class="mb-3">
        <p>Image (URL)</p>
        <%= form.url_field :image, class: "form-control", placeholder: "https://i.imgur.com/example.png" %>
    </div>

    <div class="mb-3">
        <p>Stock</p>
        <%= form.number_field :stock, class: "form-control", placeholder: "0 - 1000" %>
    </div>

    <div class="mb-3">
        <p>Price</p>
        <%= form.number_field :price, class: "form-control", placeholder: "1.00 - 100.00" %>
    </div>

    <div class="mb-3">
        <p>Promotion</p>
        <% promotions_array = Promotion.all.map { |promotion| ["Buy #{promotion.base} take #{promotion.value}", promotion.id]} %>
        <% promotions_array.insert(0, '') %>
        <%= form.select :promotion_id, options_for_select(promotions_array), class: "form-control" %>
    </div>

    <div class="mb-3">
        <%= form.submit %>
        <%= link_to "Back", products_path , class: "btn" %>
    </div>
<% end %>