<h1> New Product </h1>

<%= form_with model: @product do |form| %>
    <%= render "shared/form_errors", form: form %>

    <div class="mb-3">
        <%= form.label :description %>
        <%= form.text_field :description, class: "form-control", placeholder: "ABACAXI UNIDADE" %>
    </div>

    <div class="mb-3">
        <%= form.label :image, "Image (URL)" %>
        <%= form.url_field :image, class: "form-control", placeholder: "https://i.imgur.com/example.png" %>
    </div>

    <div class="mb-3">
        <%= form.label :stock %>
        <%= form.number_field :stock, class: "form-control", placeholder: "0 - 1000" %>
    </div>

    <div class="mb-3">
        <%= form.label :price %>
        <%= form.number_field :price, class: "form-control", placeholder: "1.00 - 100.00" %>
    </div>

    <div class="mb-3">
        <% promo = Array.new %>
        <% for p in @promos %>
            <% promo << p.id %>
        <% end %>
        <%= form.label :promotion_id %>
        <%= form.select :promotion_id, ["",promo], class: "form-control" %>
    </div>

    <div class="mb-3">
        <%= form.submit %>
        <%= link_to "Back", products_path , class: "btn" %>
    </div>
<% end %>